*{
    margin: 0;
}
.productdescription{
    padding: 10px 100px;
    margin-top: 30px;
    word-wrap: break-word;
}

.productdesc-container{
    width: 100%;
    display: flex;
    /* background-color: cyan; */
    justify-content: space-between;
}

.prdt-desc-small-image{
    /* background-color: brown; */
    width: 10%;
}

.prdt-desc-small-image-children img {
    max-width: 100%;
    height: auto;
    height: 80px;
    margin-bottom: 33px;
    object-fit:contain;
}

.prdt-desc-big-image{
    width: 60%;
    height: 80vh
    
}

.prdt-desc-big-image img{
    width: 100%;
    object-fit:contain;
    height: 100%;
}

.prdt-desc-props{
    /* background-color: red; */
    width: 20%;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}

.prdt-desc-props-title-px{
    font-family: 'Raleway';
    font-style: normal;
    font-size: 30px;
    font-weight: 600;
}

.prdt-desc-props-title-p{
    font-family: 'Raleway';
    font-style: normal;
    font-size: 30px;
    font-weight: 400;
}

.prdt-desc-props-size-p{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.prdt-desc-props-size-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
}

.product-desc-xs{
    padding: 8px 5px;
    border: 1px solid #1D1F22;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.product-desc-xs p{
    font-family: 'Raleway','Source Sans Pro';
    font-weight: 400;
    font-size: 12px;
}

.prdt-desc-props-color-p{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.product-desc-color-boxes{
    display: grid;
    grid-template-columns: 25px 25px 25px 25px 25px 25px 25px;
    column-gap: 4px;
    row-gap: 10px;
}

.product-desc-color-box{
    cursor: pointer;
}

.prdt-desc-props-price-p{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.prdt-desc-props-price-p2{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 18px;
}

.prdt-desc-props-tocart-btn{
    width: 100%;
    padding: 16px 32px;
    border: none;
    font-family: 'Raleway';
    background: #5ECE7B;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

.prdt-desc-props-desc{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 159.96%;
    color: #1D1F22;
}

.prdt-desc-props-title,
.prdt-desc-props-size,
.prdt-desc-props-color,
.prdt-desc-props-price,
.prdt-desc-props-tocart-btn{
    margin-bottom: 20px;
}

.add-to-cart-disabled{
    cursor: not-allowed;
    opacity: 0.5;
}