.nav-cart{
    width: 300px;
    background-color: #FFFFFF;
    position: absolute;
    padding: 32px 16px;
    left: -300px;
    top: 20px;
    z-index: 2;
}

.total-section{
    display: flex;
    justify-content: space-between;
}

.nav-cart-btn{
    display: flex;
    justify-content: space-between;
}

.view-bag-btn{
    background: #FFFFFF;
    border: 1px solid #1D1F22;
    padding: 16px 32px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

.check-out-btn{
    padding: 16px 32px;
    background: #5ECE7B;
    border: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
}