.category{
    margin-top: 30px;
    padding: 50px 100px;
    word-wrap: break-word;
    position: relative;
}
.header{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    text-transform: uppercase;
}
.item-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 60px;
}