.nav-cart-item{
    display: flex;
    margin-bottom: 20px;
}
.text-section{
    width: 50%;
    height: 100%;
    word-wrap: break-word;
}

.item-count{
    width: 10%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 5px;
}

.plus-btn,.minus-btn{
    height: 24px;
    font-size: 25px;
    border: 1px solid #1D1F22;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.item-counter{
    text-align: center;
}

.image-section{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.image-section img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.text-title-sect p{
    margin: 0;
    margin-bottom: 7px;
    text-align: left;
}
.text-title-sect-p{
    line-height: 160%;
}

.text-size-sect-p{
    line-height: 16px;
    margin: 0;
    margin-bottom: 7px;
    text-align: left;
    font-weight: 500;
}

.size-boxes{
    display: flex;
    color: #1D1F22;
    margin-bottom: 5px;
}

.xs,.s,.m,.l{
    font-family: 'Raleway', 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    padding: 5px;
    border: 1px solid #1D1F22;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    color: #fff;
    background-color: #1D1F22;
}

.text-color-sect-p{
    margin: 0;
    margin-top: 5px;
    margin-bottom: 7px;
    text-align: left;
    font-weight: 500;
}

.color-boxes{
    display: flex;
}
.color-box{
    border: 1px solid #5ECE7B;
}

.text-title-sect-pa{
    font-weight: 600;
}